src/libimpl/**/* linguist-vendored
inc/**/* linguist-vendored
inc/ach/**/* -linguist-vendored
inc/log.hh -linguist-vendored
src/uic/components/ImgSrc.tsx linguist-vendored
*.tsx linguist-language=ts
*.a2s linguist-language=asm