html {
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  overflow: visible;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--a2-base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--a2-text);
}

.a2btn {
  cursor: pointer;
  display: flex;
  color: var(--a2-text);
  width: 35vw;
  margin-top: 1vh;
  border: solid 3px;
  border-radius: 1vw;
  box-shadow: 2px 2px var(--a2-shadow);
  min-height: 10vh;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 10vh;
  transition: 200ms;
  cursor: pointer;
  transform: translateY(var(--dy));
  background-color: var(--a2-bg);
}

.a2btn:hover {
  transform: translateX(-2%);
  box-shadow: 3px 3px var(--a2-shadow-highligh);
  background-color: var(--a2-highlight);
}

.a2btncompact {
  min-height: 8vh;
  line-height: 8vh;
  font-size: 1.2rem;
  margin-top: 1vh;
}

.a2btncompact .a2img {
  height: 4vh;
  width: 4vh;
  margin-left: 1vw;
}

.a2img > img {
  width: 100%;
  height: 100%;
}

.a2hintwarn {
  color: var(--a2-warn);
  font-size: 1rem;
}

.a2hintopt {
  color: var(--a2-opt);
  font-size: 1.5rem;
}

.a2img {
  transform: translateY(2vh);
  height: 6vh;
  width: 6vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.a2img > svg {
  color: var(--a2-base);
}

.a2tag {
  color: var(--a2-subtext);
  margin-top: 2vh;
  font-weight: lighter;
}
.a2ops {
  position: fixed;
  right: 3vw;
  top: 50vh;
  transition: 500ms;
  transform: translateY(-50%);
  max-height: 101vh;
  overflow-y: auto;
  max-width: 60vw;
}

.a2opsin {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  float: right;
}

.a2optitle {
  color: var(--a2-base);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.a2layer {
  position: fixed;
  z-index: -1;
  width: 60vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-10vw);
}
.a2layer::after {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewX(-15deg);
  box-shadow: 5px 0px 0px var(--a2-highlight);
  background-color: var(--a2-base);
}

.a2dispanel {
  transition: 500ms;
  position: fixed;
  left: 5vw;
  top: 40vh;
  transform: translateY(-50%);
}

.a2distitle {
  width: 60vw;
  font-size: 2rem;
  color: var(--a2-title);
}

.a2text {
  left: 5vw;
  width: 40vw;
  font-size: 1rem;
  color: var(--a2-typo);
  margin-top: 0.25rem;
  transition: 100ms;
}

.a2text:hover {
  color: var(--a2-title);
}

.a2mask {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  transition: 200ms;
  animation-name: A2WarnMask;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes A2OptJump {
  0% {
    --dy: 0;
  }
  10% {
    --dy: -3px;
  }
  20% {
    --dy: 0;
  }
  100% {
    --dy: 0;
  }
}

@keyframes A2WarnMask {
  from {
    opacity: 20%;
  }
  to {
    opacity: 80%;
  }
}

.a2opt {
  animation-name: A2OptJump;
  animation-duration: 1s;
  animation-delay: 0.01s;
  animation-iteration-count: infinite;
}

@keyframes Glow {
  from {
    filter: drop-shadow(0 0 0px var(--a2-typo));
    color: var(--a2-typo);
  }
  to {
    filter: drop-shadow(0 0 2px var(--a2-typo));
    color: var(--a2-title);
  }
}

.a2glowing > svg {
  animation-name: Glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
  color: var(--a2-typo);
  transform: translateX(-1vw);
}

.a2logmt {
  color: #939393;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.a2progindef {
  animation-name: Spin;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.a2input {
  font-family: "Source Code Pro", "Fira Code", Monaco, Consolas, "Courier New",
    Courier, monospace;
  border: 2px solid #aeaeae;
  border-radius: 1rem;
  min-height: 2em;
  width: 35vw;
  font-size: 1.2em;
  color: var(--a2-base);
  padding-left: 1em;
  padding-right: 1em;
  transition: 100ms;
  margin-top: 1vh;
}
.a2input::placeholder {
  color: #aeaeae;
}

.a2input:focus {
  border: 2px solid var(--a2-base);
  outline: none;
}

@keyframes Blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.a2submit {
  text-align: center;
  line-height: 5rem;
  font-size: 1.2rem;
  height: 3rem;
  cursor: pointer;
  animation-name: Blink;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
