html {
  font-family: -apple-system, "Open Sans", "Microsoft YaHei UI", Tahoma, Geneva,
    Verdana, sans-serif;
  --a2-base: #24bfa5;
  --a2-text: #13ae94;
  --a2-typo: #ddfff5;
  --a2-title: white;
  --a2-shadow: #67676750;
  --a2-shadow-highligh: gray;
  --a2-warn: orange;
  --a2-opt: green;
  --a2-highlight: #24bfa530;
  --a2-bg: #24bfa510;
  --a2-subtext: #097a65;
}
